.wrapper {
  width: 30rem;
  margin: 0 auto;

  .item {
    height: 2rem;
    border: 1px solid black;

    &__name {
      text-align: center;
    }
  }

  position: relative;

  .child{
    margin-left: 4rem;
  }
}

:host(.first .item){
  background-color: gray;
  font-style: italic;
}

:host(.second .item) {
  background-color: yellow;
  font-weight: bold;
  color: #fff;
}
