<ng-template #reverseItems let-items>
  <ul>
    <li *ngFor="let item of items" class="item">

      <div>
        <div class="item__name">{{item.name}}</div>
      </div>
      <ul *ngIf="item.children.length" class="child">
        <ng-container  *ngTemplateOutlet="reverseItems; context: {$implicit: item.children}"></ng-container>
      </ul>
    </li>
  </ul>
</ng-template>

<div class="wrapper">
  <ng-container *ngTemplateOutlet="reverseItems; context: {$implicit: tree}"></ng-container>
</div>
