<ng-template #reverseItems let-width="width" let-items let-node="node">
  <li *ngFor="let item of items">
    <div class="item" [ngStyle]="{'width':width}" [ngClass]="node">
      <div class="item__name">{{item.name}}</div>
    </div>
    <ul *ngIf="item.children.length">
      <ng-container  *ngTemplateOutlet="reverseItems; context: {width:calc(width), $implicit: item.children, node:'child'}"></ng-container>
    </ul>
  </li>

</ng-template>

<div class="wrapper">
  <ng-container *ngTemplateOutlet="reverseItems; context: {width:'400px' ,$implicit: tree, node:'parent'}"></ng-container>
</div>
