<ng-template #reverseItems let-items>
  <ul>
    <li *ngFor="let item of items" class="item">
      <div class="item__name"
           [disabled]="inputValue"
           [attr.data-value]="item.id"
           (emitDisabledItems)="getDisabledItems($event)"
      >
        <input
          type="checkbox"
          [checked]="item.isSelected"
          (change)="select(item)"
          [attr.disabled]="listDisabledItems.includes(item.id) ? true : null"
        >
        {{item.name}}
      </div>
      <ul *ngIf="item.children.length" class="child">
        <ng-container *ngTemplateOutlet="reverseItems; context: {$implicit: item.children}"></ng-container>
      </ul>
    </li>
  </ul>
</ng-template>

<div class="wrapper">
  <ng-container *ngTemplateOutlet="reverseItems; context: {$implicit: tree}"></ng-container>
</div>
