
.wrapper {
  width: 30rem;
  margin: 0 auto;
  font-size: 1.5rem;

  .item {

    &__name {
      border: 1px solid black;
      text-align: center;
    }

    position: relative;

    .child {
      margin-left: 4rem;
    }
  }

  :host-context(.first) {
    .item {
      &__name {
        background-color: gray;
        font-style: italic;
      }

    }

  }

  :host-context(.second ) {
    .item {
      &__name {
        background-color: yellow;
        font-weight: bold;
        color: #fff;
      }
    }

  }
}
