.wrapper_tree_first{
  ::ng-deep .item{
    background-color: gray;
    font-style: italic;
  }
}

.wrapper_tree_second{
  ::ng-deep .item{
    background-color: yellow;
    font-weight: bold;
    color: #fff;
  }
}
